<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is registrationpage</title>
</head>
<body>
    <h1>this is registration page</h1>
    <form action="/account/signup" method=""post>
        <input name="name" type="text" placeholders="name"/><br>
        <input name="email" type="email" placeholders="email"/><br>
        <input name="password" type="password" placeholders="password"/><br>
        <input name="city" type="text" placeholders="city"/><br>
        <input name="pin" type="text" placeholders="pincode"/><br>
        <input name="submit" value="submit">
    
    </form>
</body>
</html>